@media screen and (max-width: 1030px) {
  .cursor {
    display: none;
  }
  .cursor-text {
    display: none;
  }
  .line1,
  .line2 {
    width: 30px;
  }
  #logo {
    font-size: 14px;
  }
  .landing video {
    object-position: right;
  }
  .secret-hover,
  .secret-hover img {
    display: none;
  }
  .headline h2 {
    font-size: 24px;
    margin-left: 0px;
    margin-top: 50px;
  }
  .navbar {
    display: block;
    width: 100vw;
  }
  .nav-links {
    font-size: 20px;
    text-align: center;
    margin-top: 80px;
  }
  .smallr,
  .watchlist {
    flex-direction: column;
  }
  .boardgamer,
  .glowup {
    flex-direction: column-reverse;
  }
  .project-desc,
  .section-img {
    width: 100%;
  }
  .section-img img {
    height: 350px;
  }
  #projects h2 {
    margin-top: 40px;
    letter-spacing: 3px;
    font-size: 40px;
  }
  .right p,
  .right ul {
    width: 90%;
    font-size: 16px;
  }
  .smallr {
    padding-bottom: 0px;
  }
  .left img {
    height: 230px;
    width: 230px;
    margin-bottom: 50px;
    border-top: 3px solid yellow;
  }
  .bounce {
    animation: none;
  }
  .wave {
    border-radius: 10% 70% 0% 0%;
  }
  .contact-info {
    width: 50%;
    height: 100%;
    margin-left: 10px;
  }
  .contact-info h2 {
    font-size: 55px;
  }
}

@media screen and (max-width: 600px) {
  .smile {
    font-size: 22px;
  }
  .headline h2 {
    font-size: 18px;
  }
  .pro-contain {
    width: 100%;
  }
  #projects h2 {
    font-size: 35px;
  }
  .p-tags {
    width: 90%;
    font-size: 16px;
  }
  .section-img img {
    height: 300px;
  }
  .boardgamer,
  .smallr,
  .glowup,
  .watchlist {
    padding: 100px 0px;
  }
  .btn-div {
    margin: 50px 0px;
  }
  .btn-div a {
    font-size: 18px;
    margin: 0px 15px;
  }
  #about {
    margin-top: 110px;
  }
  .left img {
    height: 200px;
    width: 200px;
  }
  #about h2 {
    display: none;
  }
  .about-info {
    flex-direction: column;
    padding: 50px 0px;
  }
  .wave {
    display: none;
  }
  .right li {
    font-size: 18px;
    margin: 5px 15px;
  }
  .right ul,
  .right p {
    margin-bottom: 20px;
  }
  .skills {
    margin-top: 30px;
  }
  .left,
  .right {
    width: 100%;
  }
  #contact {
    background-color: #ffea29;
    flex-direction: column;
  }
  .top {
    margin: 80px 0px;
    width: 100%;
  }
  .contact-info {
    width: 90%;
  }
  .contact-info h2 {
    font-size: 50px;
  }
}
