@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap");

/* BASIC STYLINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.cursor {
  width: 40px;
  height: 40px;
  border: 3px solid blue;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  transition-property: background, transform;
  transform-origin: 80% 40%;
}

.cursor-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  color: whitesmoke;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: #ffea29;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  background-color: #ffea29;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
  -moz-clip-path: circle(50px at 100% -10%);
}

.nav-links a {
  list-style: none;
  color: rgb(20, 20, 20);
  text-decoration: none;
  font-size: 40px;
}

.nav-links li {
  padding: 50px 0px;
  text-align: center;
  list-style: none;
}

#logo {
  color: rgb(20, 20, 20);
  font-family: "Abril Fatface", sans-serif;
  font-weight: 100;
  text-decoration: none;
  margin-left: 30px;
  font-size: 16px;
}

.burger {
  margin-right: 30px;
  cursor: pointer;
  z-index: 4;
}

.line1,
.line2 {
  width: 45px;
  height: 2px;
  background-color: rgb(20, 20, 20);
  margin: 5px 0px;
  pointer-events: none;
}

/* LANDING PAGE */

.landing {
  position: relative;
  height: 92vh;
  width: 100%;
}

.landing::after {
  content: "";
  background-color: rgba(20, 20, 20, 0.5);
  width: 100%;
  height: 92vh;
  position: absolute;
  top: 0;
  left: 0;
}

.landing video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.landing .headline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  z-index: 2;
}

.smile {
  display: flex;
  align-items: center;
  font-size: 50px;
  text-align: center;
}

.hello {
  font-family: "Abril Fatface", sans-serif;
  letter-spacing: 2px;
  color: #ffea30;
  font-weight: 400;
}

.secret-hover {
  margin-left: 30px;
  width: 80px;
}

.secret-hover img {
  object-fit: cover;
  width: 80px;
  animation: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  display: none;
}

.headline h2 {
  margin-top: 100px;
  text-align: center;
  margin-left: -80px;
}

/* PROJECTS PAGE */

#projects {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boardgamer,
.smallr,
.glowup,
.watchlist {
  min-height: 100vh;
  width: 100%;
  display: flex;
  padding: 200px 0px;
}

.boardgamer {
  background-color: #fff;
}

.glowup {
  background-color: #99a894;
  color: white;
}

.smallr {
  background-color: #fff6e6;
}

.watchlist {
  background-color: rgb(20, 20, 20);
  color: whitesmoke;
}

.project-desc {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-desc h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 3px;
  margin-bottom: 50px;
}

.p-tags {
  display: flex;
  width: 80%;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
}

.p-tags span {
  letter-spacing: 2px;
}

.stack {
  margin: 30px 0px;
  letter-spacing: 2px;
}

.section-img {
  width: 40%;
}

.section-img img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 30px;
}

.btn-div {
  margin: 90px 0px;
}

.btn-div a {
  text-decoration: none;
  color: rgb(20, 20, 20);
  padding: 13px 20px;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 10px;
  margin: 0px 25px;
  background-color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.boardgamer .btn-div a {
  border: 2px solid black;
}

/* ANIMATIONS */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* JS TOGGLE CLASSES */

.nav-active {
  background-color: blue;
  transform: scale(2.5);
}

body.hide {
  overflow: hidden;
}
